# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [34]:
s = 'hello'

# Print out 'e' using indexing

s[1]

#i selected the last letter by using indexing

'e'

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'

# Reverse the string using slicing

s[-1::-1]

#i reversed word with indexing by make it start with the last letter to last number with step 1

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [21]:
s ='hello'

# Print out the 'o'

# Method 1:

s[4:]

#or s[4]

#i select the last letter directly

'o'

In [22]:
# Method 2:

s[-1:]

#or s[-1]

#i select the last letter by reverse

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [1]:
# Method 1:

list[0,0,0]

list[0, 0, 0]

In [3]:
# Method 2:

mylist = list((0,0,0))

print('list',mylist)

list [0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [4]:
list3 = [1,2,[3,4,'hello']]

list3 [2][2] = 'goodbye' #the output here is hello and i make it equal goodbye by using variable = value

list3 [2][2] #printed the final step after hello = goodbye

'goodbye'

Sort the list below:

In [6]:
list4 = [5,3,4,6,1]

list4_sorted = sorted(list4) #i sorted the list4 in new variale with function sorted to sort the numbers

list4_sorted #print the after stored

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [7]:
d = {'simple_key':'hello'}

# Grab 'hello'

d['simple_key']

#with dictionory method i select on value by key

'hello'

In [3]:
d = {'k1':{'k2':'hello'}}

# Grab 'hello'

d['k1']['k2']

#select on the value of key=k1 then select the value of value of k1

'hello'

In [24]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1]

#select on the value of key=k1 then select by index on zero position then select the value of key=nest_key
#then select by index on postion one

['hello']

In [21]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Grab hello

d['k1'][2]['k2'][1]['tough'][2]

#select on value of key=k1 then by index selected postion or place 2
#then select the value of postion 2 of value of key=k1 == k2 then selected position 1 
#then select on value of key=k2 by index selected position 2

['hello']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = 'Earth' #i defiend the planet as earth

diameter = '12742' #i defined the diameter as string number 12742 we can defin in type int

print('The diameter of {} is {} kilometers'.format(planet, diameter)) #printed with format method

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [2]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst[3][1][2]

#select postion 3 = [5,[100,200,['hello']]
#select postion 1 = [100,200,['hello']]
#select position 2 =[['hello']]

['hello']

** Given this nested dictionary grab the word "hello". **

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

d['k1'][3]['tricky'][3]['target'][3]

'hello'

### Write a Python program to swap two variables.

In [26]:
a = input('enter any number to swapped it with second number a = ') #i enterd the input 1

b = input('enter the second number b = ') #i enterd the inpu2

new_a = a #stored input 1 in new variable .... dosen't lose it

a = b #swapped the input 1 value to input 2 value

b = new_a #swapped the input 2 value with value of input 1 ... as input stored in new variable named new_a

print('a = ',a) #print input 1 after swapped 

print('b = ',b) #print input 2 after swapped

enter any number to swapped it with second number a = 100
enter the second number b = 200
a =  200
b =  100

## Thanks